#container {
  background-color:  #939faa;
  margin: 2rem auto;
  max-width: 90%;
  padding: 2rem;
  width: 1200px;
}
#header {
  display: grid; 
  padding: none;
  /* align-items: center;  */
  height: 40px;
  /* justify-content: center; */
}

#header h1 {
  align-items: center; 
  font-family: 'Michroma', sans-serif;
  font-size: 40px;
  padding-left: 19px;
 }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* padding-left: 15px; */
}

div li{
  list-style-type: none;
  padding-top: 3rem;
  font-size: 2rem;
}

div li a {
  text-decoration: none;
  color: black;
}

div li a:hover {
  color: white;
}

#travelPic {
  display: block;
    margin-top: 2em;
    height: 400px;
    width: 500px;
  }

  body {
    background-color: rgb(107, 152, 192);
  }

  #footer {
    display: flex;
    height: 50px;
    margin: 1rem auto;
    max-width: 90%;
    width: 1200px;
  }

#footer a{
  font-size: 1.25em;
  text-decoration: none;
  color: black;
}

#footer a:hover{
  color: white;
}

#footer li {
  text-decoration: none;
  list-style-type: none;
}
