<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">

<head>
<title>A Category</title>
<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./css/layout.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body>
	<main id="container"> 
	<header id="header">
		<h1 th:text="${categories.name}"></h1>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./css/category.css">
	</header>
	
	<div class="grid-container">
		
		<ul>		
		<li th:each="review: ${categories.reviews}">
			<a th:href="@{/review(id=${review.id})}" th:text="${review.name}"></a>
		</li>
		</ul>
		
		<img th:src ="${categories.image}">
	</div> 
</main>

	<footer id="footer">
			<ul>
			<li> <a href="http://localhost:8080/show-categories">Back to Categories</a></li>
			<li> <a href="http://localhost:8080/show-reviews">Show All Reviews</a></li>
		</ul>
		</footer>

</body>
</html>