<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>A list of categories</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./css/layout.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body>
	<main id="container"> 
	<header id="header">
		<h1>Travel Review Categories</h1>
	</header>

<div class="grid-container">
	<ul id="review-list">
		<li th:each="category: ${categories}">
		<a th:href="@{/category(id=${category.id})}" th:text="${category.name}"></a>
	</li>
	</ul>
	<img id="travelPic" src ="./images/travel1.jpg">
</div>
</main>

<footer id="footer">
		<ul>
		<li> <a href="http://localhost:8080/show-reviews">Show All Reviews</a></li>
		<li> <a href="http://localhost:8080/show-tags">Show All Tags</a></li>
        <li> <a href="http://localhost:8080/all-tags-ajax">Show AJAX Tags</a></li>
	</ul>
	</footer>

</body>
</html>