<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">

<head>
<title>A Category</title>
<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./css/category.css">
</head>

<body>
	<main id="container"> 
	<header id="header">
		<h1>A Category</h1>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./css/category.css">
	</header>
		<h2 th:text="${categories.name}"></h2>
	

	<div>
		
		<ul>		
		<li th:each="review: ${categories.reviews}">
			<a th:href="@{/review(id=${review.id})}" th:text="${review.name}"></a>
		</li>
		</ul>
		
	</div> -->
	<img th:src ="${categories.image}">

	<!-- <div th:each="category: ${categories}">
		<a href="http://localhost:8080/show-categories">Back to categories</a>
	</div> -->

</main>
	
	<footer id="footer">
			<ul>
			<li> <a href="http://localhost:8080/show-categories">Back to Categories</a></li>
			<li> <a href="http://localhost:8080/show-reviews">Show All Reviews</a></li>
		</ul>
		</footer>

</body>
</html>