<!DOCTYPE html>
<html xmnls:th="http://www.thymeleaf.org">
<head>
	<title>reviews</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="./css/layout.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
</head>
<body>
	<main id="container"> 
		<header id="header">
                <h1>All Tags</h1>
            </header>

<div class="grid-container">
    <ul id="review-list">
        <li th:each="tag: ${tags}">
            <a th:href="@{/tag(id=${tag.id})}" th:text="${tag.description}"></a>
        </li>
    </ul>
    <img id="travelPic" src ="./images/travel3.jpg">
</div>
</main>
                
<footer id="footer">
    <ul>
        <li> <a href="http://localhost:8080/show-categories">Show All Categories</a></li>
        <li> <a href="http://localhost:8080/show-reviews">Show All Reviews</a></li>
        <li> <a href="http://localhost:8080/all-tags-ajax">Show AJAX Tags</a></li>
    </ul>
</footer>
                
</body>
</html>